#curve_chart, #forecast_chart {
    width: 500px;
    height: 300px;
    display: inline-block;
    border: 2px solid black;
}

#graph_info {
    padding-top: 20px;
    vertical-align: top;
    display: inline-block;
    width: 200px;
}

#control-block {
    display: inline-block;
    width: 290px;
}

#button-block {
    display: inline-block;
    margin: 8px;
    width: 180px;
}

.control, .info {
    vertical-align: top;
    display: inline-block;
    width: 500px;
}

div.control p, div.info p {
    margin-top: 5px;
    margin-bottom: 0px;
}